{{define "title"}}Acerca de{{end}}
{{define "head"}}{{end}}
{{define "content"}}

	<div class="pcoded-main-container">
		<div class="pcoded-wrapper">

			<div class="container">
				<div class="page-header">
					<h1>{{template "title" .}}</h1>
				</div>
				<p>Sistema de Ventas y Publicaciones</p>
				{{template "footer" .}}
			</div>

		</div>
	</div>

{{end}}
{{define "foot"}}{{end}}