{{define "title"}}Bienvenidos{{end}}
{{define "head"}}{{end}}
{{define "content"}}

    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="page-wrapper">
                        <div class="row">
                            <div class="col-xl-12">
                                <div style="text-align: center;">
                                    <img class="sombra" src="/static/images/confia en nostros.png" alt="First slide">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{end}}
{{define "foot"}}{{end}}